<!--
  Generated template for the ChatCreatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header>

    <ion-navbar>
        <ion-title>New Chat</ion-title>
    </ion-navbar>



</ion-header>




<ion-content padding class>

    <!--This is where the chat name input is going to go.-->

    <form [formGroup]="newChatForm" (submit)="createChat()" novalidate>
        <ion-item class="chat-name">
            <ion-input formControlName="chatName" type="chatName" placeholder="Type here..."></ion-input>
            <button ion-button clear item-right type="submit">Create</button>
        </ion-item>
    </form>


    <ion-item class="error-message" *ngIf="!newChatForm.controls.chatName.valid">
        <p>Cannot be blank.</p>
    </ion-item>



    <ion-searchbar class="search-bar" (ionInput)="getUsers($event)"></ion-searchbar>
    <ion-item class="error-message" *ngIf="!chosenNotEmpty()">
        <p>Please choose at least one other user.</p>
    </ion-item>

    <ion-list *ngFor="let user of userList">
        <div class="user">
            <img class="user-img" item-right [src]="user.userImgUrl" alt="" src="">

            <div class="user-name" item-left> {{user.userName}} </div>

            <div class="user-details" item-left>
                {{user.email}}
            </div>


            <ion-toggle class="user-toggle" (ionChange)="userChange($event, user)" [checked]="isInChosen(user)"> </ion-toggle>
            

        </div>

    </ion-list>


</ion-content>