page-chat-create {
    ion-content .scroll-content{
    background-color: #f5f5f5;
}



    .search-bar{
        width:105%;
        left: -2.5%;
    }


            .user{

            height: 90px;
            background-color: #ffffff;
            border-bottom: 2px #000;



            .user-img{
            border-radius: 50%;
            width: 55px;
            height: 55px;

            box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
            position: relative;
            left: 5%;
            top: 15px;
            }
    
            .user-name{
            font-size: 150%;
            color: #888;
            position: relative;
            bottom: 40px;
            left: 25%;



            }

            .user-details{
            color: #888;
            position: relative;
            bottom: 30px;
            left: 25%;

            }

            .user-toggle{
                position: relative;
                left: 80%;
                bottom: 85px;

            }

            
            } 



}
