<!--
  Generated template for the ContactsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    



    <ion-title>
      Contacts
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-searchbar class="search-bar" (ionInput)="getUsers($event)"></ion-searchbar>

  <ion-list>
    <button class ="user-button" ion-item *ngFor="let user of userList" (click)="userTapped($event, user)">
      <img class="user-img"  item-right [src]="user.userImgUrl" alt="" src="">
      <div class ="user-name" item-left>  {{user.userName}}   </div>
      
      <div class="user-details" item-left>
        {{user.email}}
      </div>
    </button>
  </ion-list>



</ion-content>
