page-contacts {




    .user-button{
        width:96%;
        min-height: 90px;
        left:2%;

        box-shadow: 0 0 3px rgba(0, 0, 0, 0.36);
    }


    .user-img{
        border-radius: 50%;
        width: 55px;
        height: 55px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
        position: absolute;
        right: 10px;
        top: 15px;
    }
    .user-name{
        font-size: 150%;
        color: #888;
        position: absolute;
        top: 5px;

    }

    .user-details{
        color: #888;
        position: absolute;
        top: 50px;

    }
    

}
