<ion-header>
  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Home</ion-title>

  </ion-navbar>


</ion-header>


<ion-content padding>
  We'll be testing the log out button.

  <button ion-button color="positive" block (click)="logMeOut()">
    Log Me Out Please
  </button>

This button opens the sidebar menu for you to do stuff in
<button ion-button secondary menuToggle>Toggle Menu</button>

  
</ion-content>