.line{
    font-size: 1em;
    color: #888;
    margin: 0px 0px 7px 0px;
    height: 25px;
}
.tag{
    font-size: 0.8em;
    color: #888;
}

.value{
    font-weight: bold;
    color: black;
}
.pwd{
    margin: 10px;
    padding: 4px;
    font-size: 150%;
}
.address{
    margin: 10px;
    padding: 4px;
    font-size: 150%;
}
.google-map #map {
    width: 100%;
    height: 500px;
    opacity: 0;
    transition: opacity 150ms ease-in
}
.user-image {
    float:middle;
}
      form {
    margin-bottom: 32px;
    button {
      margin-top: 20px;
    }
  }

  p {

  }



  ion-label {

    margin-left: 5px;
  }

    


