<ion-header>
    <ion-navbar>


        <button *ngIf="isNotOther()" ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Hello</ion-title>

        <ion-buttons end>
            <button  *ngIf="isNotOther()" ion-button (click)="openEditPage()">
            Edit Profile
            </button>
        </ion-buttons>

    </ion-navbar>

</ion-header>

<ion-content padding *ngIf="userProfile">


    <img class="user-img" [src]="userProfile.imgUrl" alt="" src="">




    <ion-list>
        <!-- first name enter here -->
        <ion-item>
            <ion-label class="tag" stacked>Name</ion-label>
            <ion-label class="line">{{userProfile.name}}</ion-label>
        </ion-item>

        <!-- Email enter here -->
        <ion-item>
            <ion-label class="tag" stacked>Email</ion-label>
            <ion-label class="line">{{userProfile.email}}</ion-label>
        </ion-item>

        <!-- Phone Number enter here -->
        <ion-item>
            <ion-label class="tag" stacked>Phone Number</ion-label>
            <ion-label class="line">{{userProfile.phoneNumber}}</ion-label>
        </ion-item>

        <!-- Address here-->
        <ion-item>
            <ion-label class="tag" stacked>Address</ion-label>
            <ion-label class="line">{{getAddress()}}</ion-label>
        </ion-item>

    </ion-list>



    <div class="google-map">
        <button fab fab-left fab-bottom class="fab-map" (click)="getDirections()">
            <ion-icon name="navigate"></ion-icon>
        </button>
        <sebm-google-map id="map" [latitude]="map.lat" [longitude]="map.lng" [zoom]="map.zoom"></sebm-google-map>
    </div>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/?key=AIzaSyByIMPsb6WP9iRjfcrgULtHEQI6MvTM9mk">

    </script>


</ion-content>