<ion-header>
    <ion-navbar>
        <ion-title>Edit your profile</ion-title>

        <ion-buttons end>
            <button form="form" type="submit" ion-button block>
                Save Changes
            </button>
        </ion-buttons>

    </ion-navbar>

</ion-header>

<ion-content *ngIf="userProfile">

    <ion-item>
        <ion-row>
            <ion-col width-50>
                <button ion-button color="danger" type="button" full round large (click)="takePhoto()">
                    <ion-icon name="md-camera"></ion-icon>
                </button>
            </ion-col>
            <ion-col width-50>
                <button ion-button color="secondary" type="button" full round large (click)="selectPhoto()">
                    <ion-icon name="md-image"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </ion-item>



    <form id="form" method="get" [formGroup]="editForm" (submit)="changeProfile()" novalidate>

        <!-- first name enter here -->
        <ion-item>
            <ion-label stacked>Full Name</ion-label>
            <ion-input formControlName="name" type="text" [placeholder]="userProfile.name" [class.invalid]="!editForm.controls.name.valid && editForm.controls.name.dirty"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!editForm.controls.name.valid  && editForm.controls.name.dirty">
            <p>Cannot be less than two characters.</p>
        </ion-item>


        <!-- Email enter here -->
        <ion-item>
            <ion-label stacked>Email</ion-label>
            <ion-input formControlName="email" type="email" placeholder="Your email address" [class.invalid]="!editForm.controls.email.valid && editForm.controls.email.dirty"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!editForm.controls.email.valid  && editForm.controls.email.dirty">
            <p>Must be a valid email.</p>
        </ion-item>

        <!-- Phone Number enter here -->
        <ion-item>
            <ion-label stacked>Phone Number</ion-label>
            <ion-input type="tel" placeholder="(xxx) xxx-xxxx" formControlName="phoneNumber" [class.invalid]="!editForm.controls.phoneNumber.valid && editForm.controls.phoneNumber.dirty">
            </ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!editForm.controls.phoneNumber.valid && editForm.controls.phoneNumber.dirty">
            <p>Must be a valid phone number.</p>
        </ion-item>


        <!-- Address enter here: planned. -->









        <!-- Password enter here -->
        <ion-item>
            <ion-label stacked>Password</ion-label>
            <ion-input formControlName="password" type="password" placeholder="Your password" [class.invalid]="!editForm.controls.password.valid && editForm.controls.password.dirty"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!editForm.controls.password.valid  && editForm.controls.password.dirty">
            <p>Your password needs more than 6 characters.</p>
        </ion-item>


        <!-- Password confirm here -->
        <ion-item>
            <ion-label stacked>Confirm Password</ion-label>
            <ion-input formControlName="confirmPassword" type="password" placeholder="Confirm password" [class.invalid]="editForm.hasError('mismatchedPasswords') && editForm.controls.password.dirty"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="editForm.hasError('mismatchedPasswords')  && editForm.controls.password.dirty">
            <p>Passwords do not match.</p>
        </ion-item>






    </form>






</ion-content>