<!--
  Generated template for the OpenChatsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>
            Open Chats
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>

    <ion-searchbar class="search-bar" (ionInput)="getOpenChats($event)"></ion-searchbar>

    <button class="create-button" ion-item (click)="createNewChat()"> 
    <ion-icon class= "add-icon" name="add-circle" item-left></ion-icon> 

    Create a New Chat
  </button>



    <ion-list>

    <button class="chat-button" ion-item (click)="chatTapped($event, 'Server Chat', 'all')">
        <div class ="chat-name" item-left checked="true">  Server-wide Chat  </div>
    </button>


    <button *ngFor="let chat of chatList" class ="chat-button" ion-item (click)="chatTapped($event, chat.chatName, chat.chatId)">
      <div class ="chat-name" item-left checked="true">  {{chat.chatName}}   </div>
      <!--<div class="chat-details" item-left>
        DISPLAY THE LATEST MSG BY AND THE USER ICON.
      </div>-->
    </button>


    </ion-list>



</ion-content>