page-open-chats {

    
    
    .create-button{
        width: 96%;
        left: 2%;
        //background-color: #f5f5f5;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, .35);
            p{
        color: #888;
    }
    }



    .add-icon{
        font-size: 25px;
    }




    .chat-button{
        width:96%;
        min-height: 90px;
        left:2%;

        box-shadow: 0 0 3px rgba(0, 0, 0, 0.36);
    }


    // .user-img{
    //     border-radius: 50%;
    //     width: 55px;
    //     height: 55px;
    //     box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
    //     position: absolute;
    //     right: 10px;
    //     top: 15px;
    // }

    .chat-name{
        font-size: 150%;
        color: #888;
        position: absolute;
        top: 5px;



    }

    .user-details{
        color: #888;
        position: absolute;
        top: 50px;

    }

}
