<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Create an Account
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="signup">

  <img src="http://placehold.it/300x100">
  <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>

  <!-- first name enter here -->
    <ion-item>
      <ion-label stacked>Full Name</ion-label>
      <ion-input formControlName="name" type="text" placeholder="Your full name"
        [class.invalid]="!signupForm.controls.name.valid && signupForm.controls.name.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.name.valid  && signupForm.controls.name.dirty">
      <p>Cannot be blank.</p>
    </ion-item>

    <!-- Email enter here -->
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Your email address"
        [class.invalid]="!signupForm.controls.email.valid && signupForm.controls.email.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid  && signupForm.controls.email.dirty">
      <p>Please enter a valid email.</p>
    </ion-item>

    <!-- Phone Number enter here -->
    <ion-item>
      <ion-label stacked>Phone Number</ion-label>
      <ion-input type="tel" placeholder="(xxx) xxx-xxxx" formControlName="phoneNumber"
      [class.invalid]="!signupForm.controls.phoneNumber.valid && signupForm.controls.phoneNumber.dirty"> </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.phoneNumber.valid && signupForm.controls.phoneNumber.dirty">
      <p>Please enter a valid phone number.</p>
    </ion-item>

  
  <!-- Password enter here -->
    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input formControlName="password" type="password" placeholder="Your password"
        [class.invalid]="!signupForm.controls.password.valid && signupForm.controls.password.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid  && signupForm.controls.password.dirty">
      <p>Your password needs more than 6 characters.</p>
    </ion-item>


 <!-- Password confirm here -->
    <ion-item>
      <ion-label stacked>Confirm Password</ion-label>
      <ion-input formControlName="confirmPassword" type="password" placeholder="Confirm password"
        [class.invalid]="signupForm.hasError('mismatchedPasswords') && signupForm.controls.password.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="signupForm.hasError('mismatchedPasswords')  && signupForm.controls.password.dirty">
      <p>Passwords do not match.</p>
    </ion-item>






    <button ion-button block type="submit">
      Create an Account
    </button>

  </form>

</ion-content>